{# empty Twig template #}
                     <td>
                        <a href="{{path("listmsgmed ")}}">
                         inbox</a>   
                    </td>
                    <td>
                       <a href="{{path("envoyermsg")}}">
                       Send message
                    </a>  