{% extends "BackendMedecinBundle::layout.html.twig" %}
{% block title %}{{ parent() }} Home Page {% endblock %}
{% block content %}
    <h1><center>StickyHospital</center></h1>
{% endblock %}
{% block main %}

{% endblock %}