{# empty Twig template #}
                     <td>
                     <a href="{{path("listmsgpat")}}">
                         inbox</a>   
                    </td>
                    <td>
                        <a href="{{path("envoyermsgmed")}}">
                       Send message
                    </a>  