{% extends "StickyBitHospitalBundle::layout.html.twig" %}
{% block title %}{{ parent() }} Home Page {% endblock %}
{% block content %}
    
{{ parent() }} 

<h1> Sticky Hospital</h1>
    
{% endblock %}
